*{
    margin: 0px;
    padding: 0px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  
}
.btn{
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Random Css */

header{
    width:100%;
    max-width: 1600px;
    background-color: #FFF8F3;
    background: url(image/developer.png),url(image/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}
nav{
    width: 71%;
    max-width: 1140px;
    padding-top:50px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    color: #181818;
    font-weight: 900; 
}
.logo h2 span{
    color: #FD6E0A;
}
.menu{
  
}
.menu ul{
    align-items: center;
    display: flex;
    gap: 51px;
}
.menu ul li{
    list-style-type:none;
}
.menu ul li a{
    text-decoration: none;
    color: #474747;
}

/* Banner section Css Start From Here */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1332px;
    margin: 161px 38px 0px 230px;
}
.banner-content{
    width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #181818;
}
.banner-content p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-image{
  
}
.banner-image img{
    width: 585px;
    vertical-align:middle;
}