*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  
}
.btn{
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Random Css */

header{
    width:100%;
    background-color: #FFF8F3;
    background: url(image/developer.png),url(image/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, right bottom;
}
nav{
    width: 71%;
    max-width: 1140px;
    padding-top:50px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    color: #181818;
    font-weight: 900; 
}
.logo h2 span{
    color: #FD6E0A;
}
.menu{
  
}
.menu ul{
    align-items: center;
    display: flex;
    gap: 51px;
}
.menu ul li{
    list-style-type:none;
}
.menu ul li a{
    text-decoration: none;
    color: #474747;
}

/* Banner section Css Start From Here */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 161px 38px 0px 230px;
}
.banner-content{
    width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #181818;
}
.banner-content p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-image{
  
}
.banner-image img{
    width: 585px;
    vertical-align:middle;
}

/* About CSS Start From Here */

.about-content{
    padding: 130px 230px;
    width: 1140px;
    
}
.about-info{
    width: 827px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    text-align: center;
    border-radius: 10px;
}
.about-info h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
    font-weight: bold;
}
.about-info p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
.about-info .info-card{
    display: flex;
    justify-content: space-around;
    margin: 0px 22.5px;
}
.info-card .info-card-item{}
.info-card .info-card-item h3{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}


/* Services Section CSS start Here */
.services-section{
    text-align: center;
    margin: 0px auto;
    padding-bottom: 130px;
}
.servie-content{
    
}
.servie-content h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.servie-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    width: 827px;
    margin: 0px auto;
    padding: 30px 0px 50px 0px ;
}
.service-card{
    width: 1140px;
    display: flex;
    gap: 24px;
    text-align: left;
    margin: 0px auto;
    
}
.service-card-content{
    width: 267px;
    box-shadow: 0px 6px 50px 0px #00000043;
}
.service-card-content img{
    width: 44px;
    height: 44px;
    margin-top: 30px;
    margin-left: 30px;
}
.card-inner-content{
    padding: 30px;
}
.card-inner-content h2{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.card-inner-content p{
    width: 201px;
    font-size: 16px;
    color: #757575;
}


/* resume-section CSS start from Here */

.resume-section{}
.resume-head{
    text-align: center;
}
.resume-head h2{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 113px;
 }
 .resume-card{
    margin: 0px auto;
    display: flex;
    width: 1140px;
 }
 .resume-card-content{
    gap: 24px;
 }
 .resume-card-content hr{
    width: 511px;
 }
 .card-info{}
 .card-info h2{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
 }
 .resume-card-topic{
    width: 511px;
    margin-right: 47px;
    margin-bottom: 30px;
    margin-top: 30px;
 }
 .resume-card-topic h3{
    margin-bottom: 10px;
    font-size: 25px;
    color: #474747;
 }
 .resume-card-topic h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
 }
 .resume-card-topic p{
    color: #757575;
    font-size: 16px;
    line-height: 30px;
 }
 .resume-button{
    text-align: center;
    margin: 50px auto;
 }

 /* Footer From CSS start From Here */
.footer-section{
    max-width:1600px ;
    width: 100%;
    background-color: #FFF8F3;
    margin-top: 80px;
}
.form-section{
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    padding: 130px 0px;
    display: flex;
    justify-content: space-between;
    gap: 117px;
}
.form-content{}
.form-content h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-content p{
    font-size: 16px;
    color: #474747;
    width: 562px;
    margin-bottom: 30px;
}
.form-icon-image{}
.form-template{}
.form-template h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-template input{
    width: 461px;
    margin-bottom: 24px;
    font-size: 16px;
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
}
.form-template textarea{
    width: 461px;
    height: 180px;
    padding: 18px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
}